.rake_test_cache

###
# Ignore Chef key files and secrets
###
.chef/*.pem
.chef/encrypted_data_bag_secret
#trusted certs
.chef/trusted_certs/*
#secrets
.chef/secrets/*

#RubyMine
.idea/*

#Kitchen
.kitchen/**/*

#lock files
Gemfile.lock
Berksfile.lock


.kitchen.local.yml
